@model IEnumerable<ADVERTISEMENT.Models.Advertisement>

@{
    ViewData["Title"] = "Giới thiệu công ty";
}

<h2>Giới thiệu</h2>
<p>CÔNG TY TNHH AT CORPORATION là từ viết tắt của Academy and Technology ecosystem</p>
@*nếu hơn thanh hr thì nó sẽ xuống dòng*@ 
<img src="~/images/carousel/AT CORP.jpg" style="max-width:920px;" />
<hr />
<div class="row">
    <div class="col-3">
        <h5>TRIẾT LÝ KINH DOANH</h5>   
            <p>Luôn đi tiên phong trong việc đổi mới và sáng tạo các giải pháp phần mềm;</p>
            <p>Lắng nghe và thấu hiểu khách hàng để đem đến những dịch vụ tốt nhất;</p>
            <p>Môi trường làm việc thuận lợi, tạo điều kiện cho mỗi cá nhân phát huy tối đa tiềm năng và sống có trách nhiệm;</p>       
    </div>
    <div class="col-3">
        <h5>LĨNH VỰC KINH DOANH</h5>
            <p>Phát triển và cung cấp các Giải pháp hệ thống phần mềm đóng gói (Module Packed System) trong lĩnh vực Giáo dục và Doanh nghiệp;</p>
            <p>Đào tạo nhân sự lập trình gắn với vị trí việc làm theo đơn đặt hàng doanh nghiệp;</p>
            <p>Xây dựng Cộng đồng học lập trình chuyên nghiệp qua môi trường elearning;</p>
    </div>
    <div class="col-3">
        <h5>CHIẾN LƯỢC PHÁT TRIỂN</h5>
            <p>Tập trung phát triển, nâng cao các giải pháp phần mềm cho thuê và nghiên cứu chuyên sâu các lĩnh vực Data Science, Big Data;</p>
            <p>Trở thành hệ thống Đào tạo lập trình bài bản, là chủ lực cung cấp nhân lực chất lượng cao, góp phần nâng tầm phát triển lĩnh vực phần mềm tại Việt nam và bắt kịp tiêu chuẩn quốc tế;</p>
    </div>
    <div class="col-3">
        <h5>GIÁO DỤC ĐIỆN TỬ</h5> 
        <p>AT Academy cung cấp cho người học nền tảng kiến thức cốt lõi, tư duy logic và định hướng nghề nghiệp nhằm tạo ra những học viên tài năng phù hợp với nhu cầu.</p>
    </div>
</div>

<div class="n-container">  
    <div class="container flexgrid">
        <div class="row clear">
            <div class="col-6 col-desktop-3 col-tablet-3 rowgutter">
                <div class="product-box whitebg relative">
                    <a href="#" class="block relative">                      
                        <img src="~/images/carousel/fullstack.png" width="400" />
                        <div class="descp whitebg relative">
                            <h3 class="strong h5 no-margin text-center">AT Academy<br>Đào tạo &amp; Tuyển Dụng<br></h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-desktop-3 col-tablet-3 rowgutter">
                <div class="product-box whitebg relative">
                    <a href="#" class="block relative">
                        <img src="~/images/carousel/learnx.png" width="400" />
                        <div class="descp whitebg relative">
                            <h3 class="strong h5 no-margin text-center">learnX<br>Tự học lập trình từ đầu<br></h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-desktop-3 col-tablet-3 rowgutter">
                <div class="product-box whitebg relative">
                    <a href="#" class="block relative">

                        <img src="~/images/carousel/joucan.jpg" width="400"/>
                        <div class="descp whitebg relative">
                            <h3 class="strong h5 no-margin text-center">JouCan<br>Tin học cơ bản<br></h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-desktop-3 col-tablet-3 rowgutter">
                <div class="product-box whitebg relative">
                    <a href="#" class="block relative">
                        <img src="~/images/carousel/atsuccess.png" width="400"/>
                        <div class="descp whitebg relative">
                            <h3 class="strong h5 no-margin text-center">AT Success<br>Hoạch định cuộc đời<br></h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="n-container">
    <h5 class="main-title">GIẢI PHÁP CÔNG NGHỆ</h5>
    <p>- AT Technology cung cấp các giải pháp Hệ thống phần mềm đóng gói (Module Packed System) nhằm giải quyết các bài toán về hệ thống công nghệ thông tin (MIS) trong các ngành Giáo dục và Doanh nghiệp.</p>
</div>
@*<h5>Thông tin liên hệ</h5>
<div class="row">
    <div class="col-6">
        <ul>
            <li>Kinh doanh: 108, Hồng Hà, Phường 2, Tân Bình, TpHCM</li>
            <li>Văn phòng: 118/2, Long Thạnh, Long Trì, Châu Thành, Long An</li>
            <li>Điện thoại: 03.38.37.88.79</li>
            <li>Email: ifsoft@live.com</li>
        </ul>
    </div>
    <div class="col-3">
        <ul>
            <li>Giáo dục điện tử</li>
            <li>Gia công phần mềm</li>
            <li>Cho thuê Giải pháp</li>
            <li>Kỹ năng sống</li>
        </ul>
    </div>
    <div class="col-3">
        <ul>
            <li>Hồ sơ năng lực</li>
            <li>Đội ngũ</li>
            <li>Hình ảnh</li>
            <li>Tin tức</li>
        </ul>
    </div>
</div>*@


